p {
  font-size: 14px;
  font-weight: 200;
  line-height: 0.8em;
}

.content {
  position: absolute;
  bottom: 0px;
  padding: 0 0 40px 140px;
  z-index: 10;
}

.attester {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}

.join {
  width: 260px;
  margin: 20px 0;
  text-align: center;
}

.bg {
  position: absolute;
  right: 0px;
  z-index: 0;
}

.container {
  margin: 1rem 1rem;
}

.message-grid {
  margin-top: 3rem;
  display: grid;
  /* grid-auto-flow: column; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: repeat(15, auto);
  grid-column-gap: 1rem;
}

.message {
  background-color: rgb(235, 235, 235);
  padding: 1rem;
}

.border {
  border-left: 4px solid rgb(204, 200, 200);
  border-radius: 6px;
  padding: 0.5rem;
}

/* @media (min-width: 600px) {
  .container {
      margin: 2rem 2rem;
    }
  .message-grid {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media (min-width: 1000px) {
  .container {
    margin: 3rem 4rem;
  }
  .message-grid {
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
  }
}
